.hero-image {
    background-image: url(../image/bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}
.blur-effect {
  backdrop-filter: blur(20px) brightness(70%);
}
